{% extends 'core/base.html' %}
{% load static %}

{% block title %}الذكاء الاصطناعي{% endblock %}

{% block content %}

<section class="page-header fade-in">
    <h1>الذكاء الاصطناعي</h1>
    <p>تقنيات ذكية تدعم التطوير ورفع الكفاءة والاستعداد للمستقبل.</p>
</section>

<section class="section section-light fade-in">
    <div class="section-detail-card reverse-section">

        <div class="section-detail-image">
            <img src="{% static 'images/ai.jpg' %}" alt="الذكاء الاصطناعي">
        </div>

        <div class="section-detail-content">

            <span class="section-tag">قسم تقني</span>

            <h2>الذكاء الاصطناعي</h2>

            <h4 class="section-subtitle">
                مستقبل أكثر كفاءة وابتكارًا
            </h4>

            <div class="section-line"></div>

            <div class="section-text-box">

                <p>
                قال سمو ولي العهد الأمير محمد بن سلمان:
                "نحن نعيش في زمن الابتكارات العلمية والتقنيات غير المسبوقة،
                وآفاق نمو غير محدودة."
                </p>

                <p>
                تشهد المملكة العربية السعودية تحولًا استراتيجيًا متسارعًا
                في تبني تقنيات الذكاء الاصطناعي، ضمن مستهدفات رؤية 2030،
                بما يسهم في دعم التطوير ورفع كفاءة الأداء وتعزيز الجاهزية.
                </p>

                <p>
                كما يُستخدم الذكاء الاصطناعي في تحليل البيانات،
                تحسين المراقبة الذكية، دعم اتخاذ القرار،
                وتطوير حلول وطنية مبتكرة بالتعاون مع الجهات المحلية والدولية.
                </p>

            </div>

        </div>

    </div>
</section>

{% endblock %}