{% extends 'core/base.html' %}
{% load static %}

{% block title %}الرؤية والمهمة{% endblock %}

{% block content %}

<section class="page-header fade-in">
    <h1>الرؤية والمهمة</h1>
    <p>منظومة حديثة ترتكز على الكفاءة والتكامل والاستعداد.</p>
</section>

<section class="section section-white fade-in">

<div class="section-detail-card">

    <div class="section-detail-image">
        <img src="{% static 'images/mibs3.jpg' %}" alt="الرؤية">
    </div>

    <div class="section-detail-content">

        <span class="section-tag">قسم استراتيجي</span>

        <h2>الرؤية والمهمة</h2>

        <h4 class="section-subtitle">
            بناء منظومة دفاعية حديثة
        </h4>

        <div class="section-line"></div>

        <div class="section-text-box">

            <p>
            تتمثل الرؤية في بناء مؤسسة حديثة تمتلك قوات عسكرية محترفة
            ومشتركة تحمي أمن الوطن ومصالحه.
            </p>

            <p><strong>وترتكز المهمة على:</strong></p>

            <p>• تطبيق أفضل ممارسات الإدارة الحديثة.</p>
            <p>• إعداد وقيادة القوات المسلحة بكفاءة عالية.</p>
            <p>• حماية أمن المملكة وسيادتها.</p>
            <p>• رفع الجاهزية والتكامل بين الأفرع المختلفة.</p>
            <p>• دعم التطوير والابتكار المستمر.</p>

        </div>

    </div>

</div>

</section>

{% endblock %}